{% extends 'base.html.twig' %}

{% block title %}
	Modifier un nouveau trick
{% endblock %}
{% block body %}

	<section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="{{asset('assets/img/bg/bg2.jpg')}}" data-speed="0.7">
		<div class="section-inner text-center">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 mt30 wow">
						<h2 class="section-heading">Modification de trick</h2>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="welcome">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Modifier un trick</h1>
					{{ form_start(TrickForm) }}

					{{ form_row(TrickForm.name) }}
					{{ form_row(TrickForm.description) }}
					{{ form_row(TrickForm.categories) }}
					<div id="wrapper">
						{{ form_row(TrickForm.pictures) }}
					</div>


					{% for picture in TrickForm.vars.value.pictures %}


						<img src="{{asset('assets/img/tricks/pictures/' ~ picture.name)}}" alt="{{picture.name}}" width="100" height="100">
					{% endfor %}


					{# the data-index attribute is required for the JavaScript code below #}
					<ul id="video-url" class="tags" data-widget-videos="{{ '<li></li>'|e }}" data-prototype="{{ form_widget(TrickForm.videos.vars.prototype)|e('html_attr') }}" data-widget-counter="{{ TrickForm.videos|length }}">

						{% set i= 0 %}
						{{ form_row(TrickForm.videos) }}
						{# {% for video in TrickForm.vars.value.videos %}
																																																
																																																							<li>
																																																								<div>
																																																									<div id="trick_form_videos_{{i}}">
																																																										<div>
																																																											<label for="trick_form_videos_{{i}}_name_video" class="required">Nom de la vidéo</label>
																																																											<input value="{{ TrickForm.vars.value.videos[i].name }}" type="text" id="trick_form_videos_{{i}}_name_video" name="trick_form[videos][{{i}}][name_video]" required="required" data-dashlane-rid="4d6558e2474642da" data-kwimpalastatus="alive" data-kwimpalaid="1650644906781-1" data-form-type="name"><span id="1650644906781-1" data-dashlanecreated="true" style="color: initial; font: initial; font-feature-settings: initial; font-kerning: initial; font-optical-sizing: initial; font-synthesis: initial; font-variation-settings: initial; forced-color-adjust: initial; text-orientation: initial; text-rendering: initial; -webkit-font-smoothing: initial; -webkit-locale: initial; -webkit-text-orientation: initial; -webkit-writing-mode: initial; writing-mode: initial; zoom: initial; accent-color: initial; place-content: initial; place-items: initial; place-self: initial; alignment-baseline: initial; animation: initial; app-region: initial; appearance: initial; aspect-ratio: initial; backdrop-filter: initial; backface-visibility: initial; background: url(&quot;chrome-extension://fdjamakpfbbddfjaooikfcpapjohcfmg/content/injected/logo-autofill-known.svg&quot;) center center / contain no-repeat; background-blend-mode: initial; baseline-shift: initial; block-size: initial; border-block: initial; border: none; border-radius: initial; border-collapse: initial; border-end-end-radius: initial; border-end-start-radius: initial; border-inline: initial; border-start-end-radius: initial; border-start-start-radius: initial; bottom: initial; box-shadow: initial; box-sizing: initial; break-after: initial; break-before: initial; break-inside: initial; buffered-rendering: initial; caption-side: initial; caret-color: initial; clear: initial; clip: initial; clip-path: initial; clip-rule: initial; color-interpolation: initial; color-interpolation-filters: initial; color-rendering: initial; color-scheme: initial; columns: initial; column-fill: initial; gap: initial; column-rule: initial; column-span: initial; contain: initial; contain-intrinsic-block-size: initial; contain-intrinsic-size: initial; contain-intrinsic-inline-size: initial; content: initial; content-visibility: initial; counter-increment: initial; counter-reset: initial; counter-set: initial; cursor: initial; cx: initial; cy: initial; d: initial; display: inline; dominant-baseline: initial; empty-cells: initial; fill: initial; fill-opacity: initial; fill-rule: initial; filter: initial; flex: initial; flex-flow: initial; float: initial; flood-color: initial; flood-opacity: initial; grid: initial; grid-area: initial; height: 16px; hyphens: initial; image-orientation: initial; image-rendering: initial; inline-size: initial; inset-block: initial; inset-inline: initial; isolation: initial; left: 337.422px; letter-spacing: initial; lighting-color: initial; line-break: initial; list-style: initial; margin-block: initial; margin: initial; margin-inline: initial; marker: initial; mask: initial; mask-type: initial; max-block-size: initial; max-height: initial; max-inline-size: initial; max-width: initial; min-block-size: initial; min-height: initial; min-inline-size: initial; min-width: 16px; mix-blend-mode: initial; object-fit: initial; object-position: initial; offset: initial; opacity: 1; order: initial; origin-trial-test-property: initial; orphans: initial; outline: initial; outline-offset: initial; overflow-anchor: initial; overflow-clip-margin: initial; overflow-wrap: initial; overflow: initial; overscroll-behavior-block: initial; overscroll-behavior-inline: initial; overscroll-behavior: initial; padding-block: initial; padding: initial; padding-inline: initial; page: initial; page-orientation: initial; paint-order: initial; perspective: initial; perspective-origin: initial; pointer-events: initial; position: absolute; quotes: initial; r: initial; resize: initial; right: initial; ruby-position: initial; rx: initial; ry: initial; scroll-behavior: initial; scroll-margin-block: initial; scroll-margin: initial; scroll-margin-inline: initial; scroll-padding-block: initial; scroll-padding: initial; scroll-padding-inline: initial; scroll-snap-align: initial; scroll-snap-stop: initial; scroll-snap-type: initial; scrollbar-gutter: initial; shape-image-threshold: initial; shape-margin: initial; shape-outside: initial; shape-rendering: initial; size: initial; speak: initial; stop-color: initial; stop-opacity: initial; stroke: initial; stroke-dasharray: initial; stroke-dashoffset: initial; stroke-linecap: initial; stroke-linejoin: initial; stroke-miterlimit: initial; stroke-opacity: initial; stroke-width: initial; tab-size: initial; table-layout: initial; text-align: initial; text-align-last: initial; text-anchor: initial; text-combine-upright: initial; text-decoration: initial; text-decoration-skip-ink: initial; text-emphasis: initial; text-emphasis-position: initial; text-indent: initial; text-overflow: initial; text-shadow: initial; text-size-adjust: initial; text-transform: initial; text-underline-offset: initial; text-underline-position: initial; top: 360.688px; touch-action: initial; transform: initial; transform-box: initial; transform-origin: initial; transform-style: initial; transition: initial; user-select: initial; vector-effect: initial; vertical-align: initial; visibility: visible; border-spacing: initial; -webkit-border-image: initial; -webkit-box-align: initial; -webkit-box-decoration-break: initial; -webkit-box-direction: initial; -webkit-box-flex: initial; -webkit-box-ordinal-group: initial; -webkit-box-orient: initial; -webkit-box-pack: initial; -webkit-box-reflect: initial; -webkit-highlight: initial; -webkit-hyphenate-character: initial; -webkit-line-break: initial; -webkit-line-clamp: initial; -webkit-mask-box-image: initial; -webkit-mask: initial; -webkit-mask-composite: initial; -webkit-perspective-origin-x: initial; -webkit-perspective-origin-y: initial; -webkit-print-color-adjust: initial; -webkit-rtl-ordering: initial; -webkit-ruby-position: initial; -webkit-tap-highlight-color: initial; -webkit-text-combine: initial; -webkit-text-decorations-in-effect: initial; -webkit-text-fill-color: initial; -webkit-text-security: initial; -webkit-text-stroke: initial; -webkit-transform-origin-x: initial; -webkit-transform-origin-y: initial; -webkit-transform-origin-z: initial; -webkit-user-drag: initial; -webkit-user-modify: initial; white-space: initial; widows: initial; width: 16px; will-change: initial; word-break: initial; word-spacing: initial; x: initial; y: initial; z-index: auto;"></span>
																																																										</div>
																																																										<div>
																																																											<label for="trick_form_videos_{{i}}_path_video" class="required">Url de la vidéo</label>
																																																											<input type="text" id="trick_form_videos_{{i}}_path_video" name="trick_form[videos][{{i}}][path_video]" required="required" placeholder="https://www." inputmode="url" data-dashlane-rid="86b40588cb707e36" data-form-type="website"></div>
																																																									</div>
																																																									<button class="remove-on-click" data-widget-id="#trick_form_videos_{{i}}" data-dashlane-rid="6fb85ce64280003a" data-dashlane-label="true" data-form-type="other">Supprimer</button>
																																																								</div>
																																																							</li>
																																																							{% set i= i+1 %}
																																																						{% endfor %} #}
					</ul>
					<button type="button" class="add-another-collection-widget" data-list-selector="#video-url">Ajouter une vidéo</button>


					{{ form_end(TrickForm) }}
				</div>
			</div>
		</div>
	</section>


	<script src="{{asset('assets/js/add-collection-widget.js')}}"></script>
{% endblock %}
